<!DOCTYPE html>
<html lang="en">

<script type="text/javascript">
    <!--

    //-->
</script>
<head>
    <meta charset="UTF-8">
    <title>הדס סתיו קלינאית תקשורת</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href= "/css/main.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/js/main.js"></script>
    <script src="/js/test.js"></script>
</head>
<body>
<img id="head" src="/images/head.jpg">
<div id="navbar">

</div>
<div id="about_my">
    <div id="about_my_head"> <a id="about_me_a"> מי אני</a ></div>
    <img id="about_me_image" src="/images/hadas.png">
    <p id="about_me_p" dir="rtl">שמי הדס סתיו, קלינאית תקשורת.
        <br> בוגרת תואר ראשון בהפרעות בתקשורת במכללה אקדמית "הדסה".
        <br>בעבר עבדתי במכון להתפתחות הילד "אחיה" באלעד
        <br>ובמרכז טיפולי "גוונים" בשוהם.
        <br>כיום מאבחנת ומטפלת בקליניקה פרטית בלוד
        <br>ומבצעת סינון שפתי והדרכת צוותים במעונות לגיל הרך בחבל מודיעין.
    </p>

</div>
<div >
    <p id="about_me_thumim">אני עוסקת באבחון וטיפול בילדים בתחומים הבאים</p>
    <div id="about_me_d">
        <div id="issue1" class="issue">
            <img src="/images/pic1.gif">
            <h3>שפה</h3>
            <p>עיכוב שפתי, קשיי שליפה, אוצר מילים דל, קשיים בהבנת שפה, שיבושים תחביריים, קושי בארגון השפה ועוד</p>
        </div>
        <div class="issue">
            <img src="/images/pic2.gif">
            <h3>תקשורת</h3>
            <p>ילדים בעלי קשיים תקשורתיים, פרגמטיים וחברתיים בתפקוד גבוה</p>


        </div>
        <div class="issue">
            <img src="/images/pic3.gif">
            <h3>דיבור</h3>
            <p>דיבור לא מובן, שיבושי היגוי, גמגום ודחיקת לשון</p>
        </div>
    </div>
</div>
<p id="about_me_p_c">
    .&#1488;&#1504;&#1497; &#1502;&#1488;&#1502;&#1497;&#1504;&#1492; &#1489;&#1496;&#1497;&#1508;&#1493;&#1500; &#1491;&#1512;&#1498; &#1502;&#1513;&#1495;&#1511; &#1493;&#1499;&#1497;&#1497;&#1507;, &#1495;&#1497;&#1494;&#1493;&#1511; &#1497;&#1499;&#1493;&#1500;&#1493;&#1514;&#1497;&#1493; &#1513;&#1500; &#1492;&#1497;&#1500;&#1491; &#1493;&#1492;&#1506;&#1510;&#1502;&#1514; &#1504;&#1511;&#1493;&#1491;&#1493;&#1514; &#1492;&#1495;&#1493;&#1494;&#1511; &#1513;&#1500;&#1493;
    <br>
    .&#1488;&#1510;&#1500; &#1492;&#1490;&#1491;&#1493;&#1500;&#1497;&#1501; &#1490;&#1501; &#1502;&#1493;&#1491;&#1506;&#1493;&#1514; &#1500;&#1511;&#1493;&#1513;&#1497; &#1493;&#1491;&#1497;&#1489;&#1493;&#1512; &#1506;&#1500;&#1497;&#1493;
    <br>
    .&#1504;&#1493;&#1499;&#1495;&#1493;&#1514; &#1492;&#1492;&#1493;&#1512;&#1497;&#1501; &#1489;&#1496;&#1497;&#1508;&#1493;&#1500; &#1495;&#1513;&#1493;&#1489;&#1492; &#1493;&#1492;&#1501; &#1495;&#1500;&#1511; &#1488;&#1497;&#1504;&#1496;&#1490;&#1512;&#1488;&#1500;&#1497; &#1502;&#1492;&#1514;&#1492;&#1500;&#1497;&#1498;, &#1502;&#1514;&#1493;&#1498; &#1488;&#1502;&#1493;&#1504;&#1492; &#1513;&#1500;&#1492;&#1493;&#1512;&#1497;&#1501; &#1497;&#1513; &#1488;&#1514; &#1492;&#1497;&#1499;&#1493;&#1500;&#1514; &#1492;&#1490;&#1489;&#1493;&#1492;&#1492; &#1489;&#1497;&#1493;&#1514;&#1512; &#1500;&#1511;&#1497;&#1491;&#1493;&#1501; &#1492;&#1497;&#1500;&#1491;
    <br>
    .&#1489;&#1502;&#1492;&#1500;&#1498; &#1492;&#1496;&#1497;&#1508;&#1493;&#1500;&#1497;&#1501; &#1504;&#1497;&#1514;&#1504;&#1514; &#1490;&#1501; &#1492;&#1491;&#1512;&#1499;&#1492; &#1500;&#1492;&#1493;&#1512;&#1497;&#1501; &#1500;&#1510;&#1493;&#1512;&#1498; &#1497;&#1497;&#1513;&#1493;&#1501; &#1493;&#1514;&#1512;&#1490;&#1493;&#1500; &#1489;&#1489;&#1497;&#1514;
    <br>
    <br>
    .&#1500;&#1502;&#1496;&#1493;&#1508;&#1500;&#1497; "&#1499;&#1500;&#1500;&#1497;&#1514;"- &#1511;&#1497;&#1497;&#1501; &#1492;&#1505;&#1491;&#1512; &#1506;&#1501; &#1511;&#1493;&#1508;&#1514; &#1492;&#1495;&#1493;&#1500;&#1497;&#1501;

</p>
<div id="about_my_head"> <a id="about_me_a"> שאלות נפוצות</a ></div>
<div  id="q&a">
    <div class="main">

        <div class="q_a_image">
            <img id="q8_img" src="/images/2.png">
        </div>
        <div dir="rtl" class="q_a_content">
            <h3 dir="rtl">מתי פונים לטיפול שפה?</h3>
            <p># אם הילד עדיין לא מדבר, או מדבר במילים בודדות בלבד. </p>
            <p># אם הילד מתקשה "למצוא" מילים. </p>
            <p># אם מדבר רק במשפטים מאוד קצרים.</p>
            <p># אם מתבלבל בין זכר-נקבה, יחיד-רבים, עבר-עתיד וכו'. </p>
            <p># אם מתקשה לארגן את הדיבור שלו, להסביר מה רוצה או למה מתכוון, לספר מה ואיך היה בגן.</p>
            <p># כאשר הילד לא מבין הוראות או שאלות מסוימות.  </p>
            <p># ובכל מקרה שבו ההורים חוששים שקיים קושי שפתי. </p>
        </div>
    </div>
    <div class="main">


        <div dir="rtl" class="q_a_content">
            <h3 dir="rtl">באיזה גיל פונים לטיפול היגוי?</h3>
            <p># אם הילד לא מובן (או רק אבא ואמא מבינים אותו)- מגיל שנתיים וחצי.</p>
            <p># אם לא הוגה ל', ק', ג'- מגיל שלוש וחצי.</p>
            <p># אם לא הוגה ר'- מגיל ארבע.</p>
            <p># אם הוגה ס' במקום ש'- מגיל חמש וחצי.</p>
            <p># אם הוגה ס' במקום צ' או הוגה את האותיות השורקות עם לשון בחוץ- מגיל 6.</p>
            <p>כמובן שהגילאים משוערים, יש ילדים שיוכלו להתחיל לפני, ויש שיצליחו רק אחרי.</p>
        </div>
        <div class="q_a_image">
            <img id="q8_img" src="/images/q1.png">
        </div>
    </div>
    <div class="main">

        <div class="q_a_image">
            <img id="q8_img" src="/images/4.png">
        </div>
        <div dir="rtl" class="q_a_content">
            <h3 dir="rtl">מה תהליך הפניה לטיפול?</h3>
            <p>לפני טיפול- צריך אבחון. </p>
            <p>באבחון הקלינאית בודקת את תחומי השפה השונים ושיבושי היגוי אם יש, בהתאם לגיל הילד. </p>
            <p>במידת הצורך- ממליצים על אבחון ו/או על הדרכת הורים.</p>
        </div>
    </div>
    <div class="main">


        <div dir="rtl" class="q_a_content">
            <h3 dir="rtl">כמה זמן לוקח טיפול?</h3>
            <p>מאוד אינדבדואלי ותלוי בילד ובסוג הקושי. </p>
            <p>וכן תלוי ברמת התרגול ושיתוף הפעולה בבית.</p>
            <p>לרוב טיפול בהיגוי של אות ספציפית לוקח 9-15 מפגשים.</p>
            <p>טיפול שפה הוא ארוך יותר.</p>
        </div>
        <div class="q_a_image">
            <img id="q8_img" src="/images/7.png">
        </div>
    </div>
    <div class="main">

        <div class="q_a_image">
            <img id="q8_img" src="/images/11.png">
        </div>
        <div dir="rtl" class="q_a_content">
            <h3 dir="rtl">מה קורה בטיפול?</h3>
            <p>המפגשים עם הילד אורכים כ-40 דקות, </p>
            <p>בהן עובדים על הקושי תוך כדי משחק ושיחה, </p>
            <p>עם דגש על קשר אישי חם עם הילד ושימוש בפעילויות שהוא אוהב. .</p>
            <p>במפגשים ניתנת במידת הצורך הדרכה להורים .</p>
            <p>להמשך יישום ותרגול בבית על מנת שקידום הילד יהיה מקסימלי. </p>
        </div>

    </div>
    <div class="main">
        <div dir="rtl" class="q_a_content">
            <h3 dir="rtl">מה זה קושי בשליפה?</h3>
            <p>קשיי שליפה מתארים מצב בו מילה קיימת באוצר המילים של הילד והוא מכיר אותה, </p>
            <p>אבל ברגע נתון מתקשה להיזכר בה. </p>
            <p>אנחנו יכולים להכיר את ההרגשה מפעמים בהם אנחנו מנסים להיזכר בשם של מישהו, </p>
            <p>ומרגישים שזה עומד לנו "על קצה הלשון". </p>
            <p>אצל ילדים עם קשיי שליפה, מצב זה יהיה שכיח ויקרה במילים יומיומיות. </p>
            <p>קשיי שליפה יכולים להתבטא בחיפוש מילים תורך כדי דיבור, </p>
            <p>באמירת מילה שונה ממה שהתכוון לומר, ממילות פקק והיסוסים בדיבור ("אמממ"), </p>
            <p>בקושי ברכישת הצבעים, הספרות או האותיות ועוד. </p>

        </div>
        <div class="q_a_image">
            <img id="q8_img" src="/images/10.png">
        </div>
    </div>
    <div class="main">

        <div class="q_a_image">
            <img id="q8_img" src="/images/6.png">
        </div>
        <div dir="rtl" class="q_a_content">
            <h3 dir="rtl">הילד שלי בן שלוש והוא התחיל לגמגם, מה עושים?</h3>
            <p>בגילאי שנתיים עד חמש, חוסר שטף בדיבור הוא תופעה נפוצה. </p>
            <p>זה קורה בעיקר בגלל חוסר סנכרון בין השפה המתפתחת של הילד לבין המוטוריקה של אברי ההיגוי. </p>
            <p>לרוב זו תופעה חולפת שעוברת לבד.</p>
            <p>לא לקטוע אותו בדיבור ולא להמליץ לו "לדבר יותר לאט". </p>
            <p>יש להקפיד לשדר לילד סבלנות ולא לחץ, </p>
            <p>על אף שזו תופעה מלחיצה עבור ההורים, </p>
            <p>יש להמשיך להתייחס ל- "מה" הילד אומר ולא "איך" הוא אומר זאת. </p>
            <p>במידה ועוברים שלושים חודשים ואין שיפור או שיש החמרה- כדאי לפנות לאבחון קלינאית תקשורת.</p>
        </div>

    </div>
    <div class="main">
        <div dir="rtl" class="q_a_content">
            <h3 dir="rtl">הבת שלי מוציאה את הלשון כשהיא מדברת ,משחקת או מציירת, מה עושים?</h3>
            <p>תופעה זו נקראת "דחיקת לשון" והיא יכולה להתבטא רק בדיבור </p>
            <p>(לרוב באותיות השורקות- ס', ז', צ' או המכתשיות- ד', ט', נ', ל') או גם במנוחה.  </p>
            <p>החשיבות בטיפול היא כפולה- הילד נראה פחות בוגר ודיבורו משובש, </p>
            <p>וכן הלשון דוחפת לאורך זמן את השיניים ועלולה להפריע לצמיחתם התקינה. </p>
            <p>במידה ודחיקת הלשון מופיעה רק באותיות השורקות- מומלץ לפנות לטיפול סביב גיל 6 שנים, </p>
            <p>אז קיימת בשלות גדולה יותר של אברי ההיגוי. </p>
            <p>במידה וקיימת דחיקת לשון גם באותיות אחרות או במנוחה- כדאי לפנות מייד על מנת לחזק את הלשון, </p>
            <p>להרגיל את הילדה להשאיר את הלשון בפנים ולמנוע ריור והפרעה לצמיחת השיניים.</p>
        </div>
        <div class="q_a_image">
            <img id="q8_img" src="/images/9.png">
        </div>
    </div>
</div>
<div id="invite">
    <h3 dir="rtl">מוזמנים לפנות בשמחה לכל שאלה נוספת.</h3>
</div>
<div id="contact">
    <div id="contact_ways">
        <h2 dir="rtl"> דרכי תקשורת</h2>
        <div class="contact_detail">
            <div class="circle">
                <img src="/images/1487805833_Call01.png">
            </div>
            <div class="details"><p><a href="tel:555-555-5555">054-3005129</a></p></div>
        </div>
        <div class="contact_detail">
            <div class="circle">
                <img src="/images/1487805879_icons_email.png">
            </div>
            <div class="details"><p>hadas.klinait@gmail.com</p></div>
        </div>
        <div class="contact_detail">
            <div class="circle">
                <img src="/images/1487964094_home.png">
            </div>
            <div class="details"><p>לילך 13 ,לוד</p></div>
        </div>
    </div>
    <div id="contact_form">
        <h2 dir="rtl"> שליחת הודעה</h2>
        <div id="contact_form-main" class="form-style-6">
            <form >
                <input dir="rtl" id="form_name" type="text" name="field1" placeholder="שם" />
                <input dir="rtl"  id="form_phone" type="text" name="field2" placeholder="טלפון" />
                <input dir="rtl"  id="form_mail" type="email" name="field3" placeholder="מייל" />
                <textarea dir="rtl"  id="form_message" name="field3" placeholder="כתוב את הודעתך"></textarea>
                <input type="button" id="send_form" value="שלח" />
            </form>
        </div>
    </div>

</div>
<footer>
    <img src="/images/Layer-61.png">
</footer>
</body>
</html>