

#e1{
    background-color: red;
    height: 150px;
}

#e5{
    background-color: red;
    height: 150px;
}

#e2{
    background-color: pink;
    height: 150px;
}

#e3{
    background-color: yellow;
    height: 150px;
}
#e4{
    background-color: blue;
    height: 150px;
}

#e6{
    background-color: pink;
    height: 150px;
}

#e7{
    background-color: yellow;
    height: 150px;
}
#e8{
    background-color: blue;
    height: 150px;
}
